{% extends 'base.html.twig' %}
{% set is_auth_page = true %}

{% block title %}Sign in to your account{% endblock %}

{% block body %}
    {% set form_content %}
        <form method="post" class="space-y-6">
            {% if error %}
                {% include 'components/_form_error.html.twig' with {
                    'message': error.messageKey|trans(error.messageData, 'security'),
                    'type': 'error'
                } %}
            {% endif %}

            {% include 'components/_form_input.html.twig' with {
                'type': 'email',
                'name': '_username',
                'id': 'username',
                'label': 'Email address',
                'value': last_username,
                'required': true,
                'autocomplete': 'email'
            } %}

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-blue-600 hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="password" type="password" name="_password" required autocomplete="current-password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:placeholder:text-gray-500 dark:focus:outline-blue-500" />
                </div>
            </div>
            
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

            {% include 'components/_form_button.html.twig' with {
                'text': 'Sign in',
                'type': 'submit'
            } %}
        </form>
    {% endset %}

    {% if app.user %}
        {% set logged_in_content %}
            {% include 'components/_already_logged_in.html.twig' with {
                'user': app.user,
                'show_register_option': false
            } %}
        {% endset %}
        
        {% include 'components/_auth_layout.html.twig' with {
            'title': 'Welcome back!',
            'form_content': logged_in_content,
            'footer_links': []
        } %}
    {% else %}
        {% include 'components/_auth_layout.html.twig' with {
            'title': 'Sign in to your account',
            'form_content': form_content,
            'footer_links': [
                {
                    'prefix': 'Not a member? ',
                    'text': 'Create your account',
                    'url': path('app_register')
                }
            ]
        } %}
    {% endif %}
{% endblock %}
